In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn import preprocessing

## **Loading the Dataset**
First we load the dataset and find out the number of columns, rows, NULL values, etc.

In [2]:
df = pd.read_csv('churn_modelling.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## **Cleaning**

In [5]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)

In [6]:
df.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
df.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

# **Separating the features and the labels**

In [8]:
X=df.iloc[:, :df.shape[1]-1].values       #Independent Variables
y=df.iloc[:, -1].values                   #Dependent Variable
X.shape, y.shape

((10000, 10), (10000,))

**Encoding categorical (string based) data.**

In [9]:
print(X[:8,1], '... will now become: ')

label_X_country_encoder = LabelEncoder()
X[:,1] = label_X_country_encoder.fit_transform(X[:,1])
print(X[:8,1])

['France' 'Spain' 'France' 'France' 'Spain' 'Spain' 'France' 'Germany'] ... will now become:
[0 2 0 0 2 2 0 1]

In [10]:
print(X[:6,2], '... will now become: ')

label_X_gender_encoder = LabelEncoder()
X[:,2] = label_X_gender_encoder.fit_transform(X[:,2])
print(X[:6,2])

['Female' 'Female' 'Female' 'Female' 'Female' 'Male'] ... will now become:
[0 0 0 0 0 1]

**Split the countries into respective dimensions. Converting the string features into their own dimensions.**

In [11]:
transform = ColumnTransformer([("countries", OneHotEncoder(), [1])], remainder="passthrough") # 1 is the country column
X = transform.fit_transform(X)
X

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

**Dimensionality reduction. A 0 on two countries means that the country has to be the one variable which wasn't included**

In [12]:
X = X[:,1:]
X.shape

(10000, 11)

# **Splitting the Dataset**
Training and Test Set

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

**Normalize the train and test data**

`['CreditScore','Age','Tenure','Balance','NumOfProducts','EstimatedSalary']`

In [14]:
sc=StandardScaler()
X_train[:,np.array([2,4,5,6,7,10])] = sc.fit_transform(X_train[:,np.array([2,4,5,6,7,10])])
X_test[:,np.array([2,4,5,6,7,10])] = sc.transform(X_test[:,np.array([2,4,5,6,7,10])])

In [15]:
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train

array([[-0.5698444 ,  1.74309049,  0.16958176, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [ 1.75486502, -0.57369368, -2.30455945, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [-0.5698444 , -0.57369368, -1.19119591, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [-0.5698444 , -0.57369368,  0.9015152 , ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-0.5698444 ,  1.74309049, -0.62420521, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [ 1.75486502, -0.57369368, -0.28401079, ...,  0.64259497,
        -1.03227043,  0.32472465]])

# **Initialize & build the model**

`INPUT = Number columns (Independet ) HIDDEN - AF HIDDEN -AF . . . N OUTPUT (1,2) -Sigmoid`

In [16]:
from tensorflow.keras.models import Sequential

# Initializing the ANN
classifier = Sequential()

In [17]:
from tensorflow.keras.layers import Dense

# The amount of nodes (dimensions) in hidden layer should be the average of input and output layers, in this case 6.
# This adds the input layer (by specifying input dimension) AND the first hidden layer (units)
classifier.add(Dense(activation = 'relu', input_dim = 11, units=256, kernel_initializer='uniform'))

In [18]:
# Adding the hidden layer
classifier.add(Dense(activation = 'relu', units=512, kernel_initializer='uniform'))
classifier.add(Dense(activation = 'relu', units=256, kernel_initializer='uniform'))
classifier.add(Dense(activation = 'relu', units=128, kernel_initializer='uniform'))

In [19]:
# Adding the output layer
# Notice that we do not need to specify input dim. 
# we have an output of 1 node, which is the the desired dimensions of our output (stay with the bank or not)
# We use the sigmoid because we want probability outcomes
classifier.add(Dense(activation = 'sigmoid', units=1, kernel_initializer='uniform'))

In [20]:
# Create optimizer with default learning rate
# sgd_optimizer = tf.keras.optimizers.SGD()
# Compile the model
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [21]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 256)               3072

 dense_1 (Dense)             (None, 512)               131584

 dense_2 (Dense)             (None, 256)               131328

 dense_3 (Dense)             (None, 128)               32896

 dense_4 (Dense)             (None, 1)                 129

=================================================================
Total params: 299009 (1.14 MB)
Trainable params: 299009 (1.14 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
classifier.fit(
    X_train, y_train,           
    validation_data=(X_test,y_test),
    epochs=20,
    batch_size=32
)

Epoch 1/20

250/250 [==============================] - 2s 7ms/step - loss: 0.2700 - accuracy: 0.8830 - val_loss: 0.3942 - val_accuracy: 0.8565
Epoch 2/20
250/250 [==============================] - 2s 6ms/step - loss: 0.2617 - accuracy: 0.8907 - val_loss: 0.3813 - val_accuracy: 0.8605
Epoch 3/20
250/250 [==============================] - 2s 6ms/step - loss: 0.2517 - accuracy: 0.8924 - val_loss: 0.4118 - val_accuracy: 0.8535
Epoch 4/20
250/250 [==============================] - 2s 6ms/step - loss: 0.2536 - accuracy: 0.8909 - val_loss: 0.4178 - val_accuracy: 0.8625
Epoch 5/20
250/250 [==============================] - 2s 6ms/step - loss: 0.2401 - accuracy: 0.8941 - val_loss: 0.3981 - val_accuracy: 0.8505
Epoch 6/20
250/250 [==============================] - 2s 6ms/step - loss: 0.2346 - accuracy: 0.8956 - val_loss: 0.4594 - val_accuracy: 0.8530
Epoch 7/20
250/250 [==============================] - 2s 7ms/step - loss: 0.2254 - accuracy: 0.9014 - val_loss: 0.4397 - val_accuracy: 0.8570
Epoch 8/20
250/250 [==============================] - 2s 6ms/step - loss: 0.2146 - accuracy: 0.9051 - val_loss: 0.4750 - val_accuracy: 0.8465
Epoch 9/20
250/250 [==============================] - 2s 6ms/step - loss: 0.2112 - accuracy: 0.9035 - val_loss: 0.4841 - val_accuracy: 0.8490
Epoch 10/20
250/250 [==============================] - 2s 6ms/step - loss: 0.2000 - accuracy: 0.9090 - val_loss: 0.5645 - val_accuracy: 0.8450
Epoch 11/20
250/250 [==============================] - 2s 6ms/step - loss: 0.2001 - accuracy: 0.9064 - val_loss: 0.5328 - val_accuracy: 0.8440
Epoch 12/20
250/250 [==============================] - 2s 8ms/step - loss: 0.1851 - accuracy: 0.9145 - val_loss: 0.5550 - val_accuracy: 0.8590
Epoch 13/20
250/250 [==============================] - 2s 6ms/step - loss: 0.1806 - accuracy: 0.9181 - val_loss: 0.5790 - val_accuracy: 0.8430
Epoch 14/20
250/250 [==============================] - 2s 7ms/step - loss: 0.1684 - accuracy: 0.9237 - val_loss: 0.6381 - val_accuracy: 0.8470
Epoch 15/20
250/250 [==============================] - 2s 6ms/step - loss: 0.1523 - accuracy: 0.9289 - val_loss: 0.7997 - val_accuracy: 0.8200
Epoch 16/20
250/250 [==============================] - 2s 6ms/step - loss: 0.1682 - accuracy: 0.9240 - val_loss: 0.7215 - val_accuracy: 0.8340
Epoch 17/20
250/250 [==============================] - 2s 7ms/step - loss: 0.1542 - accuracy: 0.9286 - val_loss: 0.7315 - val_accuracy: 0.8220
Epoch 18/20
250/250 [==============================] - 2s 7ms/step - loss: 0.1397 - accuracy: 0.9354 - val_loss: 0.8238 - val_accuracy: 0.8280
Epoch 19/20
250/250 [==============================] - 2s 6ms/step - loss: 0.1433 - accuracy: 0.9342 - val_loss: 0.7892 - val_accuracy: 0.8165
Epoch 20/20
250/250 [==============================] - 2s 6ms/step - loss: 0.1549 - accuracy: 0.9333 - val_loss: 0.6714 - val_accuracy: 0.8220

**Predict the results using 0.5 as a threshold**

In [24]:
y_pred = classifier.predict(X_test)
y_pred

63/63 [==============================] - 0s 3ms/step

array([[2.0385748e-01],
       [1.5050180e-01],
       [2.2405563e-02],
       ...,
       [2.7458313e-08],
       [5.1914173e-01],
       [5.2833658e-01]], dtype=float32)

In [25]:
# To use the confusion Matrix, we need to convert the probabilities that a customer will leave the bank into the form true or false. 
# So we will use the cutoff value 0.5 to indicate whether they are likely to exit or not.
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [ True],
       [ True]])

**Print the Accuracy score and confusion matrix**

In [26]:
from sklearn.metrics import confusion_matrix,classification_report

cm1 = confusion_matrix(y_test, y_pred)
cm1

array([[1427,  168],
       [ 188,  217]], dtype=int64)

In [27]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.89      0.89      1595
           1       0.56      0.54      0.55       405

    accuracy                           0.82      2000
   macro avg       0.72      0.72      0.72      2000
weighted avg       0.82      0.82      0.82      2000

In [28]:
accuracy_model1 = ((cm1[0][0]+cm1[1][1])*100)/(cm1[0][0]+cm1[1][1]+cm1[0][1]+cm1[1][0])
print (accuracy_model1, '% of testing data was classified correctly')

82.2 % of testing data was classified correctly

In [ ]:
# Sure, let's break down the provided code step by step:

# Library Imports:
# python
# Copy code
# import pandas as pd
# import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt
# from sklearn.compose import ColumnTransformer
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
# from sklearn.svm import SVC, LinearSVC
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn import metrics
# from sklearn import preprocessing
# These libraries are imported for various purposes such as data manipulation, data visualization, machine learning, and preprocessing.
# Loading the Dataset:
# python
# Copy code
# df = pd.read_csv('churn_modelling.csv')
# This line reads a CSV file named 'churn_modelling.csv' and loads its content into a DataFrame called 'df'. The DataFrame is used to organize and analyze the dataset.
# Exploring the Dataset:
# python
# Copy code
# df.info()
# df.head()
# df.info(): This method provides information about the DataFrame, including the number of columns, the data types of columns, and the count of non-null values.

# df.head(): This method displays the first few rows of the DataFrame, allowing you to inspect the data.

# Data Cleaning:
# python
# Copy code
# df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)
# This line drops the 'RowNumber', 'CustomerId', and 'Surname' columns from the DataFrame. These columns are removed as they are unlikely to be relevant for the analysis.
# python
# Copy code
# df.isna().sum()
# df.describe()
# df.isna().sum(): This code checks for missing values (NaN) in each column and prints the count of missing values for each column.

# df.describe(): The describe() method provides summary statistics for the numeric columns in the DataFrame, such as count, mean, standard deviation, and percentiles.

# Separating Features and Labels:
# python
# Copy code
# X = df.iloc[:, :df.shape[1] - 1].values  # Independent Variables
# y = df.iloc[:, -1].values  # Dependent Variable
# X.shape, y.shape
# Here, the dataset is separated into two parts:
# X: This contains the independent variables (features) and is obtained by selecting all columns except the last one from the DataFrame and converting it to a NumPy array.
# y: This contains the dependent variable (labels) and is obtained by selecting the last column from the DataFrame and converting it to a NumPy array.
# Encoding Categorical Data:
# python
# Copy code
# label_X_country_encoder = LabelEncoder()
# X[:, 1] = label_X_country_encoder.fit_transform(X[:, 1])

# label_X_gender_encoder = LabelEncoder()
# X[:, 2] = label_X_gender_encoder.fit_transform(X[:, 2])
# Categorical data in columns 'Geography' (index 1) and 'Gender' (index 2) is encoded using Label Encoding. This transforms categorical values into numerical representations.
# One-Hot Encoding for Categorical Data:
# python
# Copy code
# transform = ColumnTransformer([("countries", OneHotEncoder(), [1])], remainder="passthrough") # 1 is the country column
# X = transform.fit_transform(X)
# X = X[:, 1:]
# One-Hot Encoding is applied to the 'Geography' column (index 1) to create separate dimensions for different countries. The original column is replaced with multiple binary columns representing each country. The 'remainder="passthrough"' parameter ensures that the other columns are kept in the dataset.
# Dimensionality Reduction:
# python
# Copy code
# X = X[:, 1:]
# X.shape
# After One-Hot Encoding, one of the binary columns for 'Geography' is removed to avoid multicollinearity. The shape of the dataset is updated.
# Splitting the Dataset into Training and Test Sets:
# python
# Copy code
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
# The dataset is split into training and test sets using the train_test_split function. The split ratio is 80% for training and 20% for testing, and a random state is set for reproducibility.
# Data Normalization (Standardization):
# python
# Copy code
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)
# The features are standardized using the StandardScaler to have a mean of 0 and a standard deviation of 1, making them suitable for training machine learning models.
# Initializing and Building the Neural Network Model:
# python
# Copy code
# from tensorflow.keras.models import Sequential

# # Initializing the ANN
# classifier = Sequential()
# from tensorflow.keras.layers import Dense

# # Building the neural network with multiple layers (input, hidden, and output).
# A neural network model is initialized using Keras, a high-level deep learning library. It's a feedforward neural network with layers specified.
# Model Summary:
# python
# Copy code
# classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
# classifier.summary()
# The model is compiled with the Adam optimizer, binary cross-entropy loss function (suitable for binary classification), and accuracy as the evaluation metric. The model summary provides an overview of the architecture.
# Model Training:
# python
# Copy code
# classifier.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=20, batch_size=32)
# The model is trained on the training data with 20 epochs and a batch size of 32.
# Making Predictions:
# python
# Copy code
# y_pred = classifier.predict(X_test)
# y_pred = (y_pred > 0.5)
# Predictions are made on the test data. A threshold of 0.5 is applied to classify customers as likely to exit (True) or not (False).
# Model Evaluation:
# python
# Copy code
# from sklearn.metrics import confusion_matrix, classification_report

# cm1 = confusion_matrix(y_test, y_pred)
# print(classification_report(y_test, y_pred))
# accuracy_model1 = ((cm1[0][0] + cm1[1][1]) * 100) / (cm1[0][0] + cm1[1][1] + cm1[0][1] + cm1[1][0])
# The confusion matrix and classification report are generated to evaluate the model's performance. The accuracy is also calculated as the percentage of correctly classified instances.